
/* Header - Navbar */
.header{
    height: var(--header-height);
    background: linear-gradient( rgb(248, 99, 136), rgb(252, 155, 171));
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: var(--navbar-height);
}

/* The ul */
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
}

/* display:none; o header__qr vaf display:block; class con nay cua no */
/* an vao se hien len maQR roi tat */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

/*  The li */
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;  
}
 /* 1.5 rem = 15px */

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(20, 2, 8, 0.7);
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.header__navbar-item--strong{
    font-weight: 600;
}

.header__navbar-item--separate::after{
    content: "";   
    position: absolute;
    border-right: 1px solid #fff;
    height: 11px;
    right: -9px;
    top: 2px;

    /* Hoac lam bang cach Border-left nhu sau: */
    /* border-left: 1px solid #fff ;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); */
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    /* 1.8rem tuong duong 18px */
    margin: 0 4px 0;
}


/* Css cho cac icon dung vi tri */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-title--no-pointer{
    cursor: text;
    /* di chuot vao khong con la pointer ma la text */
    color: var(--white-color);
}


/* QR */
.header__qr{
    width: 130px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

/* khong khuyen khich su dung :nth-child() */
.header__qr-link:nth-child(1){
    margin-left: 0px;
}

.header__qr-link:nth-child(1){
    margin-right: 5px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-download-img{
    height: 13px;
}

/* element */
.header__qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    width: 100%;
    top: -10px;
}
 
/* Notify */
.header__notify {
    position: absolute;
    width: 310px;
    height: 420px;
    border: 1.8px solid rgb(224, 174, 205);
    right: 0;
    top: 124%;
    border-radius: 8px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: top right;
    animation: headerNotifyGrowth ease-in-out 0.15s;
    display: none;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
    z-index: 1;
} 

.header__navbar-item--has-notify:hover .header__notify{
  display: block;   
}

/* Mũi tên chỉ vào notify ( là hình tam giác: 1/4 của hình vuông) */
.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -2px;
    top: -27px;
    color: rgb(110, 107, 107);
}

/* Cầu nối từ chữ thông báo sang bảng thông báo */
.header__notify::after{
    content:"";
    display: block;
    position: absolute;
    right: 0;
    top: -18px;
    width: 80px;
    height: 20px;
    background-color:transparent;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {   
    height: 30px;
    background-color:var(--white-color);
    margin: 0; 
}

.header__notify-header h3 {
    color: rgb(119, 118, 118);
    font-family: cursive;
    margin: 5px 5px 0;
    font-size: 11px;
    line-height: 14px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover{
    background-color: rgb(253, 211, 223);
}

.header__notify-item--viewed{
    background-color: rgba(245, 196, 211, 0.3);
}

.header__notify-link {
    display: flex;
    padding: 4px;
    text-decoration: none;
    width: 100%;

}

.header__notify-img {
    width: 48px;
    padding-left: 0.5px;
    object-fit: contain;
}

.header__notify-info {
    list-style: none;
    padding: 5px 7px;
}

.header__notify-name {
    display: block;
    font-size: 13px;
    font-weight: 550;
    font-family: monospace;
    letter-spacing: -0.6px;
    word-spacing: 1px;
    color: var(--text-color);
    line-height: 1.1rem;
    font-style: italic;
}

.header__notify-description{
    display:  block;
    font-family: monospace;
    font-style: italic;
    font-size: 11px;
    color: var(--black-color);
    padding-top: 2px;
    margin-top: 4px;
    letter-spacing: 0.4px;
    word-spacing: 0.1px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    margin: auto; 
    font-size: 1.2rem;
    font-weight: 600;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;  
}

/* Lớp màn mờ */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 57, 57, 0.4);
}

/* border form register */
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    width: 400px;
    height: 400px;
    background-color: var(--white-color);
    border-radius: 30px;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Authen modal */
.auth-form__input{
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    font-weight:530;
    color:rgb(59, 59, 59);
    font-family: cursive;
    margin: 7px 0 3px;
    background-color: rgb(255, 242, 242);
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid var(--border-color);
    outline-color: rgb(207, 124, 203);
}

.auth-form__group{
    padding-top: 10px;
}

.auth-form__input:focus{
    border-color: rgb(133, 131, 131);
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__container{
    padding: 10px 20px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4d8f5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: -10px -20px;
}

.auth-form__heading{
    font-weight: 800;  
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    font-family: cursive;
    color: rgb(88, 88, 88);
    padding-left: 17px;
}

.auth-form__switch-btn{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 550;
    letter-spacing: -0.2px;
    font-family: cursive;
    color: rgb(175, 17, 238);
    padding-right: 17px;
}


.auth-form__switch-btn:hover{
    color:#f3437d ;
}

.auth-form__aside{
    margin-top: 20px;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(36, 35, 35);
    line-height: 1.7rem;
    margin-bottom: 20px;
    padding-left: 8px;
}

.auth-form__text-link{
    text-decoration: none;
    color:#c528b8;
    font-weight: 600;
}

.auth-form__text-link:hover{
    color:#f5119d;
}

.auth-form__controls{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

/* btn style */
.btn{
    min-width: 90px;
    height: 35px;
    font-size: 1.3rem;
    text-decoration: none;
    border: 0; 
    cursor: pointer;
}

.btn:hover{
    background-color:#f3437d;
}

.btn.btn--primary{ 
    color: var(--black-color);
    font-family: cursive;
    background-color: var(--primary-color); 
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 550;
}

.btn.btn--primary:hover{
    background-color: #f13c78;
}

.btn.btn--normal{
    color:var(--black-color);
    font-family: cursive;
    background-color: rgb(231, 162, 231);
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 550;
}

.btn.btn--normal:hover{
    background-color: #b460ce;
}

.auth-form__socials{
    background-color: #f4d8f5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 13px 2px 0px;
}

.btn.btn--with-icon{
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(196, 195, 195);
    margin-bottom: 15px;
    padding-top: 3px;
}

.btn.btn--size-s{
    height: 20px;
    min-width: 130px;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.auth-form__socials--facebook{
    background-color: rgb(45, 45, 138);
    font-size: 1rem;
    color: #fff;
}

.btn.auth-form__socials--facebook:hover{
    background-color: rgb(218, 139, 211);
    color: var(--black-color);
    font-weight: 600;
}

.btn.auth-form__socials--google{
    background-color: #fff;
    font-size: 1rem;
    color:black;
}

.btn.auth-form__socials--google:hover{
    background-color: rgb(218, 139, 211);
}

/* icon google có màu */
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .auth-form__socials-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .auth-form__socials-title--facebook{
      padding-left: 10px;
  }

  .auth-form__socials-title--google{
      padding-left: 12px;
      font-weight: 600;
  }

  /* Authen Login */
  .auth-form__help{
      display: flex;
      justify-content: flex-end; 
      cursor: pointer; 
      font-weight: 500;   
  }

  .auth-form__help-link{
      font-size: 1.2rem;
      text-decoration: none;
  }

  .auth-form__help-separate{
      display: block;
      height: 14px;
      border-left: 1.5px solid rgb(165, 164, 164);
      margin: 0 18px;
  }

  .auth-form__help-forgot{
      color: #ee2662;
      font-weight: 600;
  }

  .auth-form__help-forgot:hover{
      color:#d312f5;
  }

  .auth-form__help-help:hover{
      color: #db0dff;
      font-weight: 600;
  }

  .auth-form__socials-login{
    background-color: #f4d8f5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 13px 2px 0px;
    margin-top: 20px;
}

.auth-form__controls-login{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}

/* Header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo{
    width: 180px;
}

.header__logo-img1{
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin: 0;
    padding-top: 30px;
}

.header__logo-img2{
    width: 20%;
    height: 20%;
    margin: 0;
}

.header__logo-img3{
    width: 25%;
    height: 25%;
    padding-bottom: 25px;
    padding-right: 10px;
}

.header__logo-img3:hover{
    outline-color:rgb(207, 124, 203);
}

.header__name-icon{
    width: 80%;
    height: 80%;
}

.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 8px; 
    width: 200px;
    display: flex;
    justify-content: right;
}


/* Cart */
.header__cart{
    width: 60px;
    margin-left: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__cart-icon{
    width: 90%;
    height: 90%;  
}

.header__cart-list{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    width: 350px;
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--primary-color);
    margin-top: -3px;
    animation: fadeIn ease-in-out 0.05s;
    cursor: default;
    display: none;
}

.header__cart-list-empty-cart-smg{
    color: var(--text-color);
    padding-bottom: 15px;
    user-select: none;
}

.header__cart-list-empty-cart-img{
    width: 40%;
    height: 40%;
    margin: 0;
    padding-top: 50px;
    padding-left: 10px;
    user-select: none;
}

/* Dau mui ten (1/4 HCM) chia vao icon cart */
.header__cart-list::after{
    cursor: pointer;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -26px;
}

.header__cart:hover .header__cart-list{
    display: block;
}

/* So luong trong gio hang */
.header__cart-notice{
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: 600;
    font-family: cursive;
    font-size: 1.3rem;
    padding: 4px 8px 0px;
    padding-bottom: -10px;
    border-radius: 50px;
    height: 24px;
    margin-left: -18px;
}

.header__cart-wrap{
    display: flex;
}

/* Has cart: cac class k co Modified Empty-cart la dc, k can dat them Modified la Has-cart */

.header__cart-heading{
    color: var(--text-color);
    padding-bottom: 15px;
    padding-top: 20px;
    color: var(--text-color);
    margin: 0;
    user-select: none;
    font-size: 1.15rem;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;

 }
 
 .header__cart-item{
    display: flex;
    justify-content: between;
 }

.header__cart-item:hover{
    background-color: var(--hover-color);
 }

.header__cart-img{
    width: 12%;
    height: 12%;
    margin: 8px;
}

.header__cart-item-info{
    width: 100%;
    padding-left: 2px;

}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7px;
    margin-right: 12px;
}

.header__cart-item-name{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--black-color);

}

.header__cart-item-price{
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(245, 37, 117);

}

.header__cart-item-multiply{
    font-size: 1rem;
    color:#757575;
    font-weight: 700;
    margin: 0 4px;

}

.header__cart-item-quantity{
    color: var(--black-color);
    font-weight: 700;    
}

.header__cart-item-body{
    margin-top: -15px;
    color:#757575;  
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-description{
    font-weight: 700;
    font-size: 1.05rem; 
}

.header__cart-item-remove{
    font-size: 1.15rem;
    cursor: pointer;
    font-weight: 900;    
}

.header__cart-item-remove:hover{
    color:  rgb(245, 37, 117);
}

/* .btn.btn--primary{
    margin-bottom: 12px;
} */

.header__cart-view-cart{
    float: right;
    margin: 0 10px 14px 0;
}

/* Search */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    flex: 1;
    border-radius: 8px; 
    height: 40px;
    width: 555px;
    font-size: 1.25rem;
    padding-left: 12px;
    font-family: inherit;
    font-weight: 600;
    border: none;
    outline: none;
}

.header__search-input:hover{
   outline-color: rgb(216, 7, 7);

}

.header__search-selection{
    display: flex;
    border-left: 1px solid rgb(253, 169, 197);
    padding-left: 6px;
    margin: 5px 0;
    margin-left: -10px;
    position: relative;
    cursor: pointer;
    width: 100px;
}

.header__search-selection-label{
    width: 70px;
    height: 30px;
    display: flex;
    font-weight: 600;
    align-items: center;
    color: var(--text-color);
    font-size: 1.18rem;
}

.header__search-selection-label:hover{
    color: rgb(145, 144, 144);

}

.header__search-btn{
    outline: none;
    border: none;
    width: 40px;
    background-color: var(--white-color);
    border: 1px solid rgb(245, 166, 192);
    margin: 4px 8px 4px 0px;
    border-radius: 8px;
    cursor: pointer;
}

.header__search-btn:hover{
    background-color: var(--hover-color);

}

.header__search-btn-icon{
    height: 100%;
    width: 100%;
    padding: 4px 0;
}

.header__search-selection-icon{
    width: 30%;
    height: 30%;
    padding-left: 8px;
    display: flex;
    align-items: center;
    width: 12px;
    color: var(--text-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px var(--primary-color);
    display: none;
    animation: headerNotifyGrowth ease-in-out 0.05s;
    border-radius: 6px;
    padding: 0;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

/* Cau noi qua option */
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    right: 0;
}

.header__search-option-heading{
    color: rgb(145, 145, 145);
    padding-left: 6px;
    font-size: 1.16rem;
    margin-bottom: 6px;
    user-select: none;
}

/* .header__search-option:active{
    visibility: visible;
} */

.header__search-option-item{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* border-radius fist and last item : phong khi co nhieu hon 2 items da co */
.header__search-option-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* margin-bottom: 10px; */
} 

.header__search-option-item span{
    padding: 8px 0px 3px 8px;
    height: 30px;
}

.header__search-option-item:hover{
    background-color: var(--hover-color);
}

.header__search-option-icon{
    width: 30%;
    height: 30%;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 3px;
    color: var(--primary-color);
}

/* Search history */
.header__search-input-wrap{
    position: relative;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 10px);
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--primary-color);
    display: none;
}


/* hover vao se ra bang history, k phu hop dung o day*/
/* .header__search-input-wrap:hover
.header__search-history{
    display: block;
} */

/* Css selector: click vao input moi ra bang history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Cau noi qua history */
.header__search-history::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -11px;
}

.header__search-history-heading{
    color: #929191;
    font-size: 1.20rem;
    user-select: none;
    margin: 10px 12px;
}

.header__search-history-list{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

.header__search-history-item{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: var(--text-color);
    cursor: pointer;
}

.header__search-history-item:last-child{
    margin-bottom: -10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.header__search-history-item:hover{
    background-color: var(--hover-color);
}

.header__search-history-item a{
    padding-left: 20px;
    text-decoration: none;
    font-size: 1.18rem;
    font-weight: 600;
    color: var(--text-color);
    display: block;
}
