
/* Header - Navbar */
.app__header{
    height: var(--header-height);
    background: linear-gradient( rgb(248, 99, 136), rgb(252, 155, 171));
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: var(--navbar-height);
}

/* The ul */
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
}

/* display:none; o header__qr vaf display:block; class con nay cua no */
/* an vao se hien len maQR roi tat */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

/*  The li */
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;  
}
 /* 1.5 rem = 15px */

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(20, 2, 8, 0.7);
}

.header__navbar-item{
    margin: 2px 8px;
    position: relative;
    min-height: 18px;
}

.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-avt{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -4px;
    border: 1px solid rgba(0,0,0,0.15);
}

.header__navbar-user-name{
    margin-left: 6px;
    font-size: 1.1rem;
    font-weight: 600;
}

.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: 124%;
    right: -8px;
    width: 100px;
    background-color: var(--white-color);
    list-style: none;
    z-index: 1;
    border-radius: 6px;
    cursor: default;
    box-shadow: 0 4px 8px var(--primary-color);
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.12s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
}

.header__navbar-user-item--separate{
    border-top: 1.5px solid #eba9bf;
}

.header__navbar-user-item a{
    text-decoration: none;
    padding: 8px 0px 8px 8px;
    color: var(--text-color);
}

.header__navbar-user-item:last-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.header__navbar-user-item:hover{
    background-color: var(--hover-color);
}

/* Cau noi qua option cua "user" */
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    right: 0;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-heading{
    color: rgb(141, 140, 140);
    padding-left: 9px;
    font-size: 1.16rem;
    margin-bottom: 6px;
    user-select: none;
}

.header__navbar-user-item{
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;  
}

.header__navbar-user-item:first-child{
    margin-top: 10px;
}

.header__navbar-user-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* margin-bottom: 10px; */
} 

/* Mũi tên chỉ vào user ( là hình tam giác: 1/4 của hình vuông) */
.header__navbar-user-menu::before{
    content: "";
    border-width: 18px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -24px;
}

/* Navbar  */
.header__navbar-item--strong{
    font-weight: 600;
}

.header__navbar-item--separate::after{
    content: "";   
    position: absolute;
    border-right: 1px solid #fff;
    height: 11px;
    right: -9px;
    top: 2px;

    /* Hoac lam bang cach Border-left nhu sau: */
    /* border-left: 1px solid #fff ;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); */
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    /* 1.8rem tuong duong 18px */
    margin: 0 4px 0;
}


/* Css cho cac icon dung vi tri */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-title--no-pointer{
    cursor: text;
    /* di chuot vao khong con la pointer ma la text */
    color: var(--white-color);
}


/* QR */
.header__qr{
    width: 130px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.11s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

/* khong khuyen khich su dung :nth-child() */
.header__qr-link:nth-child(1){
    margin-left: 0px;
}

.header__qr-link:nth-child(1){
    margin-right: 5px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-download-img{
    height: 13px;
}

/* Element */
.header__qr::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    width: 100%;
    top: -10px;
}
 
/* Notify */
.header__notify {
    position: absolute;
    width: 310px;
    right: 0;
    top: 126%;
    border-radius: 6px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.12s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
    z-index: 2;
    box-shadow: 0 4px 6px var(--primary-color);
    display: none;
    list-style: none;
} 

.header__navbar-item--has-notify:hover .header__notify{
  display: block;   
}

/* Mũi tên chỉ vào notify ( là hình tam giác: 1/4 của hình vuông) */
.header__notify::before{
    content: "";
    border-width: 18px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -24px;
}

/* Cầu nối từ chữ thông báo sang bảng thông báo */
.header__notify::after{
    content:"";
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    width: 80px;
    height: 26px;
    background-color:transparent;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {   
    height: 30px;
    background-color:var(--white-color);
    margin: 0; 
}

.header__notify-header h3 {
    color: rgb(107, 107, 107);
    margin: 20px 8px 0;
    font-size: 1.25rem;
    /* line-height: 14px; */
    user-select: none;
    display: flex;
    justify-content: center;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    padding: 4px 0;
}

.header__notify-item:hover{
    background-color: var(--hover-color);
}

.header__notify-link {
    display: flex;
    padding: 4px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    top: -2px;
    padding-left: 6px;
    object-fit: contain;
}

.header__notify-info {
    padding: 5px 8px;
}

.header__notify-name {
    display: block;
    font-size: 1.25rem;
    /* line-height: 1.2rem; */
    color: var(--text-color);
    font-family: none;
    font-weight: normal;
    padding-left: 4px;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    padding-top: 2px;
    margin-top: 4px;
    color: var(--text-color);
    font-weight: 600;
    padding-left: 4px;
}

.header__notify-footer{
    display: flex;
    border-top: 1.5px solid #f18ebc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 10px;
    margin: auto; 
    font-size: 1.2rem;
    font-weight: 600;
}

.header__notify-footer-btn:hover{
    color: #f1407b;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;  
}

/* Lớp màn mờ */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 57, 57, 0.4);
}

/* border form register */
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    width: 400px;
    height: 400px;
    background-color: var(--white-color);
    border-radius: 30px;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Authen modal */
.auth-form__input{
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    font-weight:530;
    color:rgb(59, 59, 59);
    font-family: cursive;
    margin: 7px 0 3px;
    background-color: rgb(255, 242, 242);
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid var(--border-color);
    outline-color: rgb(207, 124, 203);
}

.auth-form__group{
    padding-top: 10px;
}

.auth-form__input:focus{
    border-color: rgb(133, 131, 131);
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__container{
    padding: 10px 20px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4d8f5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: -10px -20px;
}

.auth-form__heading{
    font-weight: 800;  
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    font-family: cursive;
    color: rgb(88, 88, 88);
    padding-left: 17px;
}

.auth-form__switch-btn{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 550;
    letter-spacing: -0.2px;
    font-family: cursive;
    color: rgb(175, 17, 238);
    padding-right: 17px;
}


.auth-form__switch-btn:hover{
    color:#f3437d ;
}

.auth-form__aside{
    margin-top: 20px;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(36, 35, 35);
    line-height: 1.7rem;
    margin-bottom: 20px;
    padding-left: 8px;
}

.auth-form__text-link{
    text-decoration: none;
    color:#c528b8;
    font-weight: 600;
}

.auth-form__text-link:hover{
    color:#f5119d;
}

.auth-form__controls{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

/* btn style */
.btn{
    min-width: 90px;
    height: 35px;
    font-size: 1.3rem;
    text-decoration: none;
    border: 0; 
    cursor: pointer;
}

.btn:hover{
    background-color:#f3437d;
}

.btn.btn--primary{ 
    color: var(--black-color);
    font-family: cursive;
    background-color: var(--primary-color); 
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 550;
}

.btn.btn--primary:hover{
    background-color: #f13c78;
}

.btn.btn--normal{
    color:var(--black-color);
    font-family: cursive;
    background-color: rgb(231, 162, 231);
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 550;
}

.btn.btn--normal:hover{
    background-color: #b460ce;
}

.auth-form__socials{
    background-color: #f4d8f5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 13px 2px 0px;
}

.btn.btn--with-icon{
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(196, 195, 195);
    margin-bottom: 15px;
    padding-top: 3px;
}

.btn.btn--size-s{
    height: 20px;
    min-width: 130px;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.auth-form__socials--facebook{
    background-color: rgb(45, 45, 138);
    font-size: 1rem;
    color: #fff;
}

.btn.auth-form__socials--facebook:hover{
    background-color: rgb(218, 139, 211);
    color: var(--black-color);
    font-weight: 600;
}

.btn.auth-form__socials--google{
    background-color: #fff;
    font-size: 1rem;
    color:black;
}

.btn.auth-form__socials--google:hover{
    background-color: rgb(218, 139, 211);
}

/* icon google có màu */
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .auth-form__socials-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .auth-form__socials-title--facebook{
      padding-left: 10px;
  }

  .auth-form__socials-title--google{
      padding-left: 12px;
      font-weight: 600;
  }

  /* Authen Login */
  .auth-form__help{
      display: flex;
      justify-content: flex-end; 
      cursor: pointer; 
      font-weight: 500;   
  }

  .auth-form__help-link{
      font-size: 1.2rem;
      text-decoration: none;
  }

  .auth-form__help-separate{
      display: block;
      height: 14px;
      border-left: 1.5px solid rgb(165, 164, 164);
      margin: 0 18px;
  }

  .auth-form__help-forgot{
      color: #ee2662;
      font-weight: 600;
  }

  .auth-form__help-forgot:hover{
      color:#d312f5;
  }

  .auth-form__help-help:hover{
      color: #db0dff;
      font-weight: 600;
  }

  .auth-form__socials-login{
    background-color: #f4d8f5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 13px 2px 0px;
    margin-top: 20px;
}

.auth-form__controls-login{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}

/* Header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo{
    width: 180px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img1{
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin: 0;
    padding-top: 30px;
}

.header__logo-img2{
    width: 20%;
    height: 20%;
    margin: 0;
}

.header__logo-img3{
    width: 25%;
    height: 25%;
    padding-bottom: 25px;
    padding-right: 10px;
}

.header__logo-img3:hover{
    outline-color:rgb(207, 124, 203);
}

.header__name-icon{
    width: 80%;
    height: 80%;
}

.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 8px; 
    width: 200px;
    display: flex;
    justify-content: right;
}


/* Cart */
.header__cart{
    width: 60px;
    margin-left: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__cart-icon{
    width: 90%;
    height: 90%;  
}

.header__cart-list{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    width: 350px;
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--primary-color);
    margin-top: -3px;
    animation: fadeIn ease-in-out 0.05s;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.12s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
    z-index: 1;

}

.header__cart-list-empty-cart-smg{
    color: var(--text-color);
    padding-bottom: 15px;
    user-select: none;
}

.header__cart-list-empty-cart-img{
    width: 40%;
    height: 40%;
    margin: 0;
    padding-top: 50px;
    padding-left: 10px;
    user-select: none;
}

/* Dau mui ten (1/4 HCM) chia vao icon cart */
.header__cart-list::after{
    cursor: pointer;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -26px;
}

.header__cart:hover .header__cart-list{
    display: block;
}

/* So luong trong gio hang */
.header__cart-notice{
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: 600;
    font-family: cursive;
    font-size: 1.3rem;
    padding: 4px 8px 0px;
    padding-bottom: -10px;
    border-radius: 50px;
    height: 24px;
    margin-left: -18px;
}

.header__cart-wrap{
    display: flex;
}

/* Has cart: cac class k co Modified Empty-cart la dc, k can dat them Modified la Has-cart */

.header__cart-heading{
    color: var(--text-color);
    padding-bottom: 15px;
    padding-top: 20px;
    color: var(--text-color);
    margin: 0;
    user-select: none;
    font-size: 1.2rem;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 47vh;
    overflow-y: auto;
 }
 
 .header__cart-item{
    display: flex;
    justify-content: between;
    padding-right: 4px;
 }

.header__cart-item:hover{
    background-color: var(--hover-color);
 }

.header__cart-img{
    width: 12%;
    height: 12%;
    margin: 8px;
}

.header__cart-item-info{
    width: 100%;
    padding-left: 2px;

}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7px 12px 26px 0;
}

.header__cart-item-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    padding-right: 16px;
    text-align: left;
    line-height: 1.5rem;
    max-height: 3rem; 
    margin-top: 10px;
    padding-bottom: 4px;
}

.header__cart-item-price{
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(245, 37, 117);

}

.header__cart-item-multiply{
    font-size: 1rem;
    color:#757575;
    font-weight: 700;
    margin: 0 4px;

}

.header__cart-item-quantity{
    color: var(--black-color);
    font-weight: 700;    
}

.header__cart-item-body{
    margin-top: -15px;
    color:#757575;  
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-description{
    font-weight: 700;
    font-size: 1.15rem; 
}

.header__cart-item-remove{
    font-size: 1.15rem;
    cursor: pointer;
    font-weight: 900;    
}

.header__cart-item-remove:hover{
    color:  rgb(245, 37, 117);
}

/* .btn.btn--primary{
    margin-bottom: 12px;
} */

.header__cart-view-cart{
    float: right;
    margin: 0 10px 14px 0;
}

/* Search */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    flex: 1;
    border-radius: 8px; 
    height: 40px;
    width: 555px;
    font-size: 1.25rem;
    padding-left: 12px;
    font-family: inherit;
    font-weight: 600;
    border: none;
    outline: none;
}

.header__search-input:hover{
   outline-color: rgb(216, 7, 7);

}

.header__search-selection{
    display: flex;
    border-left: 1px solid rgb(253, 169, 197);
    padding-left: 6px;
    margin: 5px 0;
    margin-left: -10px;
    position: relative;
    cursor: pointer;
    width: 100px;
}

.header__search-selection-label{
    width: 70px;
    height: 30px;
    display: flex;
    font-weight: 600;
    align-items: center;
    color: var(--text-color);
    font-size: 1.14rem;
}

.header__search-selection-label:hover{
    color: rgb(145, 144, 144);

}

.header__search-btn{
    outline: none;
    border: none;
    width: 40px;
    background-color: var(--white-color);
    border: 1px solid rgb(245, 166, 192);
    margin: 4px 8px 4px 0px;
    border-radius: 8px;
    cursor: pointer;
}

.header__search-btn:hover{
    background-color: var(--hover-color);

}

.header__search-btn-icon{
    height: 100%;
    width: 100%;
    padding: 4px 0;
}

.header__search-selection-icon{
    width: 30%;
    height: 30%;
    padding-left: 8px;
    display: flex;
    align-items: center;
    width: 12px;
    color: var(--text-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px var(--primary-color);
    display: none;
    animation: headerNotifyGrowth ease-in-out 0.05s;
    border-radius: 6px;
    padding: 0;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.12s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
    z-index: 1;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

/* Cau noi qua option */
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    right: 0;
}

.header__search-option-heading{
    color: rgb(119, 118, 118);
    padding-left: 8px;
    font-size: 1.2rem;
    margin-bottom: 6px;
    user-select: none;
}

/* .header__search-option:active{
    visibility: visible;
} */

.header__search-option-item{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px 0;
}

.header__search-option-item:last-child{
    padding-bottom: 3px;
}

/* border-radius fist and last item : phong khi co nhieu hon 2 items da co */
.header__search-option-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* margin-bottom: 10px; */
} 

.header__search-option-item span{
    padding: 8px 0px 3px 8px;
    height: 30px;
}

.header__search-option-item:hover{
    background-color: var(--hover-color);
}

.header__search-option-icon{
    width: 16%;
    height: 16%;
    margin-right: 6px;
    color: var(--primary-color);
}

/* Search history */
.header__search-input-wrap{
    position: relative;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 10px);
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0 2px 8px var(--primary-color);
    display: none;
    z-index: 1;
}


/* hover vao se ra bang history, k phu hop dung o day*/
/* .header__search-input-wrap:hover
.header__search-history{
    display: block;
} */

/* Css selector: click vao input moi ra bang history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Cau noi qua history */
.header__search-history::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -11px;
}

.header__search-history-heading{
    color: #929191;
    font-size: 1.20rem;
    user-select: none;
    margin: 10px 12px;
}

.header__search-history-list{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

.header__search-history-item{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: var(--text-color);
    cursor: pointer;
}

.header__search-history-item:last-child{
    margin-bottom: -10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.header__search-history-item:hover{
    background-color: var(--hover-color);
}

.header__search-history-item a{
    padding-left: 20px;
    text-decoration: none;
    font-size: 1.18rem;
    font-weight: 600;
    color: var(--text-color);
    display: block;
}

/* Container */

.app__container{
    background-color: #fff1f3;
}

.category{
    /* background-color: var(--white-color); */
    border-radius: 8px;
    box-shadow: 0px 6px 10px #fa979c;
}

.category__heading{
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #fa979c;
    margin-top: 20px;
    margin-bottom: 4px;
}

.category__heading-icon{
    font-size: 1.3rem;
    padding-top: 1.9px;
    margin-right: 24px;
    position: relative;

}

.category-list{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 18px;
}

.category-item{
    padding: 8px 22px;
}

.category-item:hover{
    background-color: #ffd4d7;
}

.category-item:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.category-item--active .category-item__link{
    color: #fd0665;
}

/* Dau mui ten truoc modified: active */
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: -12px;
    transform: translateY(calc(50% - 8px));
}

/* Chuyen dong: liner */
.category-item__link{
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--black-color);
    font-weight: 600; 
    transition: right liner 0.1s;
    right: 0px;  
}

.category-item__link:hover{
    right: -12px;
}


/* column-10 */
.home__filter{
    margin-top: 20px;
    display: flex;
    background-color: var(--hover-color);
}

.home__filter-label{
    font-size: 1.35rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:#ffe1ea;
    font-weight: 600;
    padding: 0 30px;
    user-select: none;
}

.btn.btn--chose{
    background-color: var(--primary-color);
    font-size: 1.35rem;
    font-weight: 600;
    /* border-right: 0.5px solid #ff92a4; */
    margin: 0 5px;
    box-shadow: 0 2px 8px var(--primary-color);
    padding: 0 32px;
}

.btn.btn--choice{
    background-color: #ffeaee;
    font-size: 1.35rem;
    font-weight: 600;
    /* border-right: 0.5px solid #ff92a4; */
    margin: 0 5px;
    box-shadow: 0 2px 8px var(--primary-color);
    padding: 0 32px;
}


.btn.btn--choice:hover{
    background-color: var(--primary-color);
}

/* Selection */

.select-input-icon{
    padding-left: 80px;
}

.select-input{
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 0 18px;
    background-color: #ffeaee;
    position: relative;
    margin: 0 5px;
    box-shadow: 0 2px 8px var(--primary-color);
}

.select-input-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px var(--primary-color);
    display: none;
    animation: headerNotifyGrowth ease-in-out 0.05s;
    border-radius: 6px;
    padding: 0;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in-out 0.12s;
    will-change: opacity, transform;
    /* tối ưu thuộc tính opacity và transform */
    z-index: 1;
    margin-top: 6px;
}

.select-input:hover .select-input-option{
    display: block;
}

/* Cau noi qua option cua select input*/
.select-input-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    right: 0;
}

.select-input-option-heading{
    color: rgb(119, 118, 118);
    padding-left: 8px;
    font-size: 1.2rem;
    margin-bottom: 6px;
    user-select: none;
}

.select-input-option-item{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px 0;
}

.select-input-option-item:last-child{
    padding-bottom: 4px;
}

/* border-radius fist and last item : phong khi co nhieu hon 2 items da co */
.select-input-option-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.select-input-option-item:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* margin-bottom: 10px; */
} 

.select-input-option-item span{
    padding: 8px 0px 3px 8px;
    height: 30px;
    transition: right liner 0.1s;
    right: 0px; 
}

.select-input-option-item span:hover{
    right: 12px;
}

.select-input-option-item:hover{
    background-color: var(--hover-color);
}

.select-input-option-icon{
    width: 18%;
    height: 18%;
    padding-left: 10px;
    padding-top: 0px;
    margin-right: 8px;
    color: var(--primary-color);
}

.home-filter__paginate{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 12px;

}

.home-filter__paginate-num{
    padding: 0 14px;
    font-size: 1.3rem;
    font-weight: 600;
    user-select: none;

}

.home-filter__paginate-current{
    color: #f52072;
    padding: 0 2px;
}

.home-filter__paginate-control{
    font-size: 1.35rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    width: 60px;
    height: 22px;
}

.home-filter__paginate-btn{
    background-color: var(--white-color);
    flex: 1;
    display: flex;
    text-decoration: none;
    color: var(--black-color);
}

.home-filter__paginate-btn:first-child{
    border-right: 1px solid var(--primary-color);
}

.home-filter__paginate-btn--disabled{
    background-color: #fab7b7;
    color:rgb(156, 156, 156);
    cursor: default;
}

.home-filter__paginate-btn:hover{
    background-color: #fab7b7;
}

.home-filter__paginate-icon{
    padding: 0 2px;
    margin: auto;
}

/* Product */
.home-product{
    margin-bottom: 20px;
    padding-top: 20px;
}

.home-product-item{
    background-color: var(--white-color);
    margin-top: 28px;
    box-shadow: 0 2px 8px var(--solid-color);
    position: relative;
    border-radius: 10px;
    transition: transform ease 0.08s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-4px);
    box-shadow: 0 2px 6px var(--text-primary-color);

}

.home-product-item__img{
    padding-top: 100%;
    padding-right: 0;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.home-product-item__name{
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 4px;
    color: var(--black-color);
    line-height: 1.8rem;
    margin-top: 12px;
    margin-bottom: 0;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* case 1- line */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    margin-top: 12px;
    align-items: baseline;
    flex-wrap: wrap;
}
 
.home-product-item__price-old{
    font-size: 1.45rem;
    text-decoration: line-through;
    font-weight: 600;
    margin-left: 8px;
    color: var(--black-color);
}

.home-product-item__price-current{
    font-size: 1.45rem;
    font-weight: 880;
    color: rgb(255, 15, 67);
    margin-left: 19px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;
}

.home-product-item__like{
    margin: 0 10px;
    font-size: 1.4rem;
}

.home-product-item__like-icon-empty{
    color: var(--text-primary-color);
}

i.home-product-item__like-icon-fill{
    color: rgb(255, 28, 77);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
  
.home-product-item__rating{
    margin: 0 2px;
    color: #afafaf;
    font-size: 0.8rem;
}

.home-product-item__star-fill{
    color: #ff6d75;
}

.home-product-item__sold{
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 5px;
    color: var(--black-color);
}

.home-product-item__place{
    /* margin: 10px 4px 10px 66px; */
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin: 6px 7px 10px 4px;
    align-items: center;
    color: var(--black-color);
}

.home-product-item__place-icon{
    color: #ff6d75;
    font-size: 1rem;
    padding-right: 4px;
}

.home-product-item__place-name{
    font-size: 1.1rem;
    font-weight: 600;
}

.home-product-item__favourite{
    position: absolute;
    top: 12px;
    left: -6px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 2px 6px 2px 0px;
    background-color: rgb(255, 100, 139);
    box-shadow: 0 2px 8px var(--write-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite i{
    font-size: 0.9rem;
    padding: 0 4px;
}

/* Element hinh tam giac ( 2 hinh tam giac tao thanh hinh vuong) */
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-top: 5.7px solid var(--primary-color);
    border-left: 5.7px solid transparent;
    filter: brightness(90%);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 37px;
    background-color: rgba(255, 215, 57, 0.94);
    text-align: center;
    border-top-right-radius: 10px;
}

/* 2 hinh tam giac duoi nhan giam gia */
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-width: 0 19px 8px;
    border-style: solid;
    border-color: transparent rgba(255, 215, 57, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-label{
    color: red;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: 6px;
    position: relative;
}

.home-product-item__sale-off-percent{
    font-weight: 700;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: 6px;
    padding-bottom: 5px;
}

/* Pagination */

/* Phan con lai o file base */

.home-product__pagination{
    margin: 48px 0 36px 0;
}

/* Footer */
.footer{
    border-top: 3px solid var(--primary-color);
    padding-top: 20px;
}

.footer__heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;  
}

.footer__item{
    padding-bottom: 10px;
}

.footer-item-link{
    text-decoration: none;
    color: #918f8f;
    font-weight: 600;
    font-size: 1.2rem;

}

.footer-item-link:hover{
    color: var(--text-primary-color);
}

.footer__item-icon-facebook{
    font-size: 1.4rem;
    padding-right: 6px;
    color: #3542b8;
}

.footer__item-icon-instagram{
    font-size: 1.4rem;
    padding-right: 6px;
    color: #e24366;
}

.footer__item-icon-linkedin{
    font-size: 1.4rem;
    padding-right: 6px;
    color: #3542b8;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    height: 60px;

}

.footer__download-apps{
   flex: 1;
   margin-left: 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
    cursor: default;

}

.footer__download-apps-img{
    height: 16px;
    margin: 5px 0;
    cursor: pointer;

}

.footer-bottom{
    background-color: #fde6ed;
    text-align: center;
    margin: 6px -22.5px 0;
    padding: 4px 0;
}

.footer__copyright{
    font-size: 1.2rem;
    font-weight: 600;
    color: #818181;
}

.footer__address{
    font-size: 1.2rem;
    font-weight: 600;
    color: #818181;
}